<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>servlets.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>servlets.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandServlet</servlet-name>
        <servlet-class>servlets.BrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Management</servlet-name>
        <servlet-class>servlets.Management</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>servlets.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>servlets.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SepayWebhookServlet</servlet-name>
        <servlet-class>servlets.SepayWebhookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>servlets.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPaymentStatusServlet</servlet-name>
        <servlet-class>servlets.CheckPaymentStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/Management/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/Management/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandServlet</servlet-name>
        <url-pattern>/Management/brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Management</servlet-name>
        <url-pattern>/Management</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/Management/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SepayWebhookServlet</servlet-name>
        <url-pattern>/sepay_webhook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPaymentStatusServlet</servlet-name>
        <url-pattern>/checkpaymentstatus</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>ManagementFilter</filter-name>
        <filter-class>filters.ManagementFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ManagementFilter</filter-name>
        <url-pattern>/Management/*</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
</web-app>
